@page "{id}"
@model PumpModel
<div class="card">
    <div id="mypump" class="card-body">
        <h4 class="card-title">Насос: @Model.Pump.Name
            <span style="float:right; font-size:small">
                     Время снятия показаний:
                <span id="pump_@(Model.Pump.Id)_UpdateTime"> 
                 Время снятия показаний: @Model.Pump.UpdateTime.ToShortTimeString()
                </span>
            </span>
           
        </h4>     
        <partial name="_PumpSensorData" for="@Model.Pump"></partial>
    </div>
    <div id="pumpChartTemperature">
        <div id="containerTemperature" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div id="pumpChartPressure">
        <div id="containerPressure" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div id="pumpChartAmpers">
        <div id="containerAmpers" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div id="pumpChartVolume">
        <div id="containerVolume" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div id="pumpChartVibration">
        <div id="containerVibration" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>
@section Scripts {
    <partial name="_PumpSensorDataSSEScripts"></partial>
    <script src="~/lib/highcharts/highcharts.js"></script>
    <script>
    var chart = [];
    function InitChart(pumpId,sensor,symbol) {
        $.getJSON(
            '/pumps/'+sensor+'?pumpid='+pumpId,
            function (data) {
                chart[sensor] = Highcharts.chart('container'+sensor, {
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: sensor
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                                'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: symbol,
                            useHTML: true
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },

                    series: [{
                        type: 'area',
                        name: sensor+' '+symbol,
                        data: data
                    }]
                });
            }
        );
        
    }
    InitChart(@Model.Pump.Id,'Temperature','C˚');
    InitChart(@Model.Pump.Id,'Pressure','Pa');
    InitChart(@Model.Pump.Id,'Ampers','A');
    InitChart(@Model.Pump.Id,'Volume','m<sup>3</sup>');
    InitChart(@Model.Pump.Id,'Vibration','Db');
    </script>
}
